Repository cognitedata/react-auth-wrapper, changes with the owners that CODEOWNERS names for each.
All owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

chore: refactoring
  src/core/authentication/abstract-auth.ts
  src/core/authentication/pkce.ts
  src/core/authentication/wrapper/AuthCredentials.ts
  src/core/authentication/wrapper/CogAuthContextProps.ts
  src/core/authentication/wrapper/provider/ReactAuthWrapperProvider.ts
  src/core/authentication/wrapper/useCogAuth.ts
  src/index.ts
  src/ui/ReactCogniteAuthProvider.ts
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

chore: more changes in order to get first version
  .github/CODEOWNERS
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  LICENSE
  README.md
  example/package.json
  example/src/App.tsx
  example/src/Callback.tsx
  example/src/Home.tsx
  example/src/SelectCogniteProject.tsx
  package.json
  src/core/authentication/wrapper/CogniteProject.ts
  src/core/authentication/wrapper/provider/ReactAuthWrapperProvider.ts
  src/core/authentication/wrapper/service/CogniteProjectService.ts
  src/index.tsx
  yarn.lock
Owners: @jasonnutter, @tnorling, @bmahall, @peterzenz, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai

feat: dotenv
  example/src/api.env
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

fix_Sec_Issues
  package.json
  yarn.lock
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

Fixing:Security Issues - DBots
  package.json
  yarn.lock
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

Fixing:Security Issues - DBots (#4)
  package.json
  yarn.lock
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

Fixing Security Issues - DBots -2
  package-lock.json
  package.json
  yarn.lock
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

Fixing Security Issues - DBots -2
  package-lock.json
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

fix -nth check
  package.json
  yarn.lock
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

add the typings
  package.json
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

add NPM_PUBLISH_TOKEN
  .github/workflows/release.yaml
Owners: @jasonnutter, @tnorling, @bmahall, @peterzenz

add GH token
  .github/workflows/release.yaml
Owners: @jasonnutter, @tnorling, @bmahall, @peterzenz

correct name
  .github/workflows/release.yaml
Owners: @jasonnutter, @tnorling, @bmahall, @peterzenz

Notes added by 'git notes add'
  e8762de003afc29c5cfb44795441c8814b239378
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

fix readme
  README.md
  package.json
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

fix -nth check (#6)
  package.json
  yarn.lock
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

fix readme (#9)
  README.md
  package.json
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

fix: fixing issue caused by types tag in config
  package.json
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

Notes added by 'git notes add'
  08facc4e4eb6b879d4baa8b93024671127cf8946
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

fix: remove private to allow publishing
  package.json
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

Notes added by 'git notes add'
  9f201232fcaf373650d22b70f671afd3c44a774f
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

feat: improved documentation
  README.md
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

feat: improved documentation (#10)
  README.md
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

Notes added by 'git notes add'
  694703f4ca82c4ae5e7c27e9982199c34e0d0122
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

fix!: fixing static token inspect url BREAKING CHANGE
  example/src/SelectCogniteProject.tsx
  src/core/authentication/wrapper/service/CogniteProjectService.ts
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

fix!: fixing static token inspect url (#11)
  example/src/SelectCogniteProject.tsx
  src/core/authentication/wrapper/service/CogniteProjectService.ts
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

Notes added by 'git notes add'
  c6a24a1a8b421d98723d8c21db10809c4ae5a1bb
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

feat: improve project service
  example/src/SelectCogniteProject.tsx
  src/core/authentication/wrapper/service/CogniteProjectService.ts
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

feat: improve project service (#12)
  example/src/SelectCogniteProject.tsx
  src/core/authentication/wrapper/service/CogniteProjectService.ts
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

Notes added by 'git notes add'
  8c5496cd43a4d6d96bbc160a7af7f3020b3fd799
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

fix!: fixing static token inspect url (#11)
  example/src/SelectCogniteProject.tsx
  src/core/authentication/wrapper/service/CogniteProjectService.ts
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

feat: improve project service (#12)
  example/src/SelectCogniteProject.tsx
  src/core/authentication/wrapper/service/CogniteProjectService.ts
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

Notes added by 'git notes add'
  89a9beca553216539e94d451d102e7997c036251
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

chore: fixing static token inspect url (#11)
  .idea/workspace.xml
  example/src/SelectCogniteProject.tsx
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

feat: improve project service (#12)
  example/src/SelectCogniteProject.tsx
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

Notes added by 'git notes add'
  e35cbfafceb80bded81b67bf649fdf40a43f5b92
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

chore: moving to right version
  package.json
  src/core/authentication/wrapper/service/CogniteProjectService.ts
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

update yarn deps
  yarn.lock
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

fix: mark package as deprecated
  README.md
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @samuelkubai, @bmahall, @peterzenz

CODEOWNERS:

* @jasonnutter @tnorling @sameerag @jo-arroyo @hectormmg @samuelkubai @bmahall @peterzenz

# MSAL Angular
/lib/msal-angular/ @jasonnutter @jo-arroyo @tnorling @peterzenz
/maintenance/msal-angularjs/ @jasonnutter @jo-arroyo @tnorling @peterzenz
/samples/msal-angular-samples/ @jasonnutter @jo-arroyo @tnorling @peterzenz
/samples/msal-angular-v2-samples/ @jasonnutter @jo-arroyo @tnorling @peterzenz
/samples/msal-angularjs-samples/ @jasonnutter @jo-arroyo @tnorling @peterzenz

# MSAL Browser
/lib/msal-browser/ @jasonnutter @tnorling @peterzenz
/samples/msal-browser-samples/ @jasonnutter @tnorling @peterzenz

# MSAL Common
/lib/msal-common/ @sameerag @tnorling @peterzenz

# MSAL Core
/lib/msal-core/ @jasonnutter @sameerag @tnorling @peterzenz
/samples/msal-core-samples/ @jasonnutter @sameerag @tnorling @peterzenz

# MSAL Node
/lib/msal-node/ @sameerag @hectormmg @samuelkubai @bmahall @peterzenz
/samples/msal-node-samples/ @sameerag @hectormmg @samuelkubai @bmahall @peterzenz
/extensions/msal-node-extensions/ @sameerag @hectormmg @samuelkubai @bmahall @peterzenz

# ADAL Node
/maintenance/adal-node @sameerag @samuelkubai @peterzenz

# Passport Azure Ad
/maintenance/passport-azure-ad @samuelkubai @sameerag @peterzenz

# MSAL React
/lib/msal-react/ @tnorling @jasonnutter @jo-arroyo @peterzenz
/samples/msal-react-samples/ @tnorling @jasonnutter @jo-arroyo @peterzenz

# Node Token Validation
/lib/node-token-validation @jo-arroyo @peterzenz
/samples/node-token-validation @jo-arroyo @peterzenz

## ADAL.js
/maintenance/adal-angular @jasonnutter @sameerag @peterzenz

# Build
/build/ @jasonnutter @tnorling @bmahall @peterzenz
/release-scripts/ @jasonnutter @tnorling @bmahall @peterzenz
/.github/ @jasonnutter @tnorling @bmahall @peterzenz

# Filepaths to ignore
/change/
